body {
	background-color: black;	
	font-family: 'Bangers', cursive;
}
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}
.text {
	float: left;
	z-index: 10;
	position: fixed;
	width: 400px;
	left: 750px;
}
.ryu {
	float:left;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url(../images/ryu-ready-position.gif);
}

.ryu-still {
  background-image: url(../images/ryu-standing-still.png);
  display: block;
  left: 40px;
}

.ryu-throwing {
  background-image: url(../images/ryu-throwing-hadouken.png);
  display: none;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url(../images/hadouken.gif);
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 150px;
  left: -212px;
  float: left;
}
.ryu-cool {
	background-image: url(../images/ryu-cool.gif);
	display: none;
}
p {
	font-size: 2em;
	color: rgba(255,255,255,1);
	text-shadow: 2px 3px 2px rgba(204,204,204,1);
}
.text {
	width: 500px;
	left: 675px;
	height: 400px;
	position: absolute;
	padding-top: 50px;
}
.instructions p {
	padding: 30px;
	margin: -15px 0 90px 0px;
	background-color: rgba(0,204,204,1);
}
.intro p {
	color: rgba(51,51,51,1);
	font-size: 3em;
}
.intro {
	display: none;
	float: left;
	width: 500px;
	margin: 100px 0 0px 0px;
	text-align: center;
}
.jQuery {
	margin-top: 50px;
}
.jQuery, .Streetfighter, .instructions {
	display: none;
	width: 500px;
	height: 300px;
}
.jQuery img {
	margin-top: 40px;
}
img {
	width: 100%;
}